body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

*,*::before,a::after{
    box-sizing: inherit;
}

header{
    display: flex;
    border-bottom: 1px solid #E1E2E7;
}

main{
    display: flex;
    /* justify-content:space-between; */
}

nav{
background-color: #ffffff;
flex-grow: 1;

}
ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;

}
li{
    list-style-type: none;
    padding: 0.8rem;
    border: 1px solid #EAEBEE;
}
a{
    text-decoration: none;
    color: #B9C1CD;
}

main section{
background-color: #F1F3F8;
flex-grow: 5;
}

article{
    background-color: #ffffff;
    border: 1px solid #E7E8EB;
    box-shadow: 1rem #E7E8EB;
    margin: 2rem;
    border-radius: 5px;
}

article h1{
    color: #36C196;
    margin-left: 1rem;
    
}

article p{
    color: #B8BFCC;
    margin-left: 1rem;
    padding-bottom: 2rem;
}


aside{
background-color: #ffffff;
flex-grow: 1;
border: 1px solid #E1E2E7;
}

aside section{
    margin: 2rem;
    background-color: #ffffff;
    border: 1px solid #ECEEEF;
    padding: 3rem 1rem;
    text-align: center;
}
