body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before,a::after{
    box-sizing: inherit;
}

header{
    display: flex;
    border-bottom: 1px solid #E1E2E7;
}
header img{
    margin: 0 1rem;
}
header h3{
    font-style: italic;
    font-weight: none;
}
main{
    display: flex;
}

nav{
background-color: #ffffff;
flex-grow: 1;
border-right: 1px solid #ECEEEF ;
}
nav ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;

}
nav li{
    list-style-type: none;
    padding: 0.8rem;
    border: 1px solid #EAEBEE;
}
nav a{
    text-decoration: none;
    color: #B9C1CD;
}

main section{
background-color: #F1F3F8;
flex-grow: 5;
}

article{
    background-color: #ffffff;
    border: 1px solid #E7E8EB;
    box-shadow: 1rem #E7E8EB;
    margin: 1rem 2rem;
    border-radius: 5px;
}

article h1{
    color: #36C196;
    margin-left: 1rem;
    text-transform:uppercase;
}

article p{
    color: #B8BFCC;
    margin-left: 1rem;
    padding-bottom: 2rem;
}


aside{
background-color: #ffffff;
flex-grow: 1;
border: 1px solid #E1E2E7;
}

aside section{
    margin: 2rem;
    background-color: #ffffff;
    border: 2px solid #ECEEEF;
    padding: 3rem 1rem;
    text-align: center;
    color: #B8BFCC;
}
footer{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #1F1F1F;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}


footer li{
    list-style-type: none;
    /* margin-top:1rem; */
    padding: 0.6rem 2rem;
}

footer a{
    color: #D9D7D7;
    text-decoration: none;
}
